.edit-form-container {
  margin: 5% auto;
  padding: 5%;
  width: 600px;
  height: 425px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  color: #d1d1d1;
}

.edit-input {
  background-color: rgb(51, 51, 51, 0.4);
  padding: 0.8rem 0.8rem 0.8rem 0.4rem;
  display: flex;
  width: 100%;
  min-height: 35px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.9);
  margin: 25px 0;
  color: #000;
}

.edit-text-box {
  min-height: 100px;
}

.input:active {
  background-color: rgb(51, 51, 51, 0.4);
  padding: 0.8rem 0.8rem 0.8rem 0.4rem;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.9);
  margin: 25px 0;
}

button {
  cursor: pointer;
  /* font */
  text-decoration: none;
  /* font-size: ${props => (props.fontSize ? props.fontSize : "700")}; */
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border: none;
  /* width */
  width: 150px;
  /* height */
  height: 50px;
  /* color */
  color: #d1d1d1;
  background-color: rgb(51, 51, 51, 0.95);
  /* margin */
  margin: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 0.5rem;
}

button:hover {
  background-color: #d1d1d1;
  color: rgb(51, 51, 51, 0.95);
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .edit-form-container {
    width: 90vw;
    height: 500px;
    margin: 15% auto;
    justify-content: space-evenly;
  }
}
