.form-container {
  margin: 5% auto;
  padding: 5%;
  width: 300px;
  height: 425px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 3rem;
  color: #d1d1d1;
  position: absolute;
  top: 10%;
  right: 33%;
  background-color: rgb(51, 51, 51, 0.95);
}

.input {
  background-color: rgb(51, 51, 51, 0.4);
  padding: 0.8rem 0.8rem 0.8rem 0.4rem;
  display: block;
  width: 100%;
  min-height: 35px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.9);
  margin: 25px 0;
}

.input:active {
  background-color: rgb(51, 51, 51, 0.4);
  padding: 0.8rem 0.8rem 0.8rem 0.4rem;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.9);
  margin: 25px 0;
}

button {
  cursor: pointer;
  /* font */
  text-decoration: none;
  /* font-size: ${props => (props.fontSize ? props.fontSize : "700")}; */
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border: none;
  /* width */
  width: 120px;
  /* height */
  height: 30px;
  /* color */
  color: #d1d1d1;
  background-color: rgb(51, 51, 51, 0.95);
  /* margin */
  margin: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

button:hover {
  background-color: #d1d1d1;
  color: rgb(51, 51, 51, 0.95);
}
