* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

html {
  background-color: #fff;
  color: #555;
  text-rendering: optimizeLegibility;
}

body {
  font-size: 2rem;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "_";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

:root {
  /* a global variable which can be accessed by var(--primary) */
  --primaryColor: #4d4d4d;
}
