@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .add-container {
    width: 90vw;
    height: 550px;
    margin: 40% auto;
    justify-content: space-evenly;
  }

  h1 {
    padding: 5% 0;
  }
}
